@import 'vars';

.bgc-breadcrumbs {
    background-color: #f8f3f4;
}

.breadcrumbs {
    height: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__arrivals {
        font-size: 24px;
        line-height: 20px;
        font-weight: 900;
        text-transform: uppercase;
        color: $mainColor;
    }

    &__ul {
        list-style-type: none;
        display: flex;
    }

    &__li:not(:last-child)::after {
        content: '/';
        padding-left: 4px;
        padding-right: 4px;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: black;
    }

    &__link {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
        text-decoration: none;
        &:hover {
            color: $mainColor;
        }
    }

    &__li:last-child &__link {
        font-weight: 700;
    }

    &__clr {
        font-weight: 700;
        color: $mainColor;
        &:hover {
            color: #636363;;
        }
    }
}

.cont {
    margin-top: 89px;
    margin-bottom: 93px;

    &__title {
        font-size: 16px;
        line-height: 6;
        font-weight: 700;
        text-transform: uppercase;
        color: $mainTextColor;
        cursor: pointer;

        &:hover {
            color: $mainColor;
        }
    }

    &__box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__check {
        width: 550px;
        margin-top: 39px;
        margin-left: 35px;
    }

    &__already {
        margin-top: 39px;
    }

    &__h3 {
        font-size: 13px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #222222;
        margin-bottom: 15px;
    }

    &__h4 {
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
        color: #222222;
        margin-bottom: 16px;
    }

    &__p {
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: #b3b2b2;
        margin-bottom: 34px;

        &-box {
            text-transform: none;
        }
    }

    &__p1 {
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: #b3b2b2;
        margin-bottom: 15px;
    }

    &__radio {
        font-size: 12px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #222222;
    }

    &__radio p {
        text-transform: none;
    }

    &__radio &__btn {
        margin-top: 34px;
    }

    &__chk {
        width: 14px;
        height: 14px;
        margin-bottom: 10px;
    }

    &__chk2 {
        width: 14px;
        height: 14px;
        margin-bottom: 33px;
    }

    &__input {
        width: 390px;
        height: 45px;
        border: 1px solid #eaeaea;
        margin-bottom: 20px;
    }

    &__input2 {
        width: 390px;
        height: 45px;
        border: 1px solid #eaeaea;
        margin-bottom: 22px;
    }

    &__span {
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: #ff0d0d;
    }

    &__span1 {
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: #ff0d0d;
        margin-bottom: 32px;
    }

    &__btn {
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #4a4a4a;
        width: 180px;
        height: 50px;
        background: none;
        border: 1px solid #eaeaea;
        margin-bottom: 79px;
        cursor: pointer;

        &:hover {
            border: 1px solid #4a4a4a;
            color: $mainColor;
            box-shadow: 0 0 10px 0 #4a4a4a;
        }

        &:active {
            background: $mainColor;
            border: 1px solid #eaeaea;
            color: #eaeaea;
        }
    }

    &__link {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: #222222;
        text-decoration: none;
        margin-left: 32px;
    }

    &__line {
        // margin-top: 31px;
        // margin-bottom: 31px;
        width: 1140px;
        height: 1px;
        background-color: #e8e8e8;
    }
}

input:checked {
    border: 1px solid black;
}

summary::marker {
    display: none;
    content: '';
}

.bg-image {
    background-image: url(./../../public/img/footer/serfer_lg.png);
    background-size: cover;
}

