@import 'vars';

.product-box {
    display: grid;
    grid-template-columns: 270px 1fr;
    margin-top: 50px;


    &__menu {
        display: flex;
        flex-direction: column;
        width: 240px;
    }

    &__item {
        margin-bottom: 20px;
        box-shadow: 2px -2px 20px 2px rgba(224, 220, 220, 0.51);

        & .angle-up {
            display: none;
        }

        &[open] {
            color: $mainColor;
        }
        &[open] .product-box__head{
            color: $mainColor;
        }
        &[open] .angle-down {
            display: none;
        }

        &[open] .angle-up {
            display: block;
            fill: $mainColor;
        }
    }

    &__head {
        display: flex;
        justify-content: space-between;
        border-left: 6px solid $mainColor;
        border-bottom: 1px solid $footerColor;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 6px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
        color: #6f6e6e;

        &:hover {
            color: $mainColor;
            cursor: pointer;
        }

    }

    &__link-box {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    &__link {
        text-decoration: none;
        font-size: 14px;
        line-height: 33px;
        font-weight: 400;
        color: #6f6e6e;

        &:hover {
            background-color: $mainColor;
            color: white;
        }
    }

    &__filter {
        display: flex;
        gap: 32px;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    &__name {
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 20px;
        color: #6f6e6e;
        text-transform: uppercase;

    }

    &__input-size {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        text-transform: uppercase;
        color: #6f6e6e;
        text-align: center;
        padding-right: 35px;
    }

    &__style-box {
        display: flex;
        flex-direction: column;
    }

    &__style {
        border-right: 1px solid grey;
        padding-right: 20px;
        margin-right: 20px;
        font-size: 14px;
        line-height: 20px;
        color: #6f6e6e;

        &:last-of-type {
            border: none;
        }
    }

    &__box {
        display: flex;
        margin-bottom: 16px;
    }

    &__title {
        width: 240px;
        display: flex;
        flex-direction: column;
    }

    &__range {
        display: flex;
        justify-content: space-between;
    }

    &__sorting {
        margin-bottom: 30px;
        height: 51px;
        background-color: #f3f3f3;
        display: flex;
        align-items: center;
    }

    &__pages {
        display: flex;
        gap: 10px;
        border: 1px solid #a8a3a3;
        border-radius: 5px;
        padding: 11px;
    }

    &__navigation {
        display: flex;
        justify-content: space-between;

        &-btn {
            color: $mainColor;
            border: 1px solid $mainColor;
            padding: 11px 45px 10px 45px;
            font-size: 16px;
            line-height: 26px;
            text-decoration: none;
            font-weight: normal;
            background-color: white;
            cursor: pointer;

            &:hover {
                background-color: $mainColor;
                color: white;
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 110px;
    }

    &__sort {
        display: flex;
        justify-content: center;
        align-items: center;

        &-det {
            height: 100%;

            &__summary {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                font-size: 14px;
                line-height: 26px;
                color: #6f6e6e;
                padding-right: 9px;
                padding-left: 10px;
                font-weight: 700;
                position: relative;
                cursor: pointer;

                &:hover {
                    color: $mainColor;
                }

                &:hover .angle-down {
                    fill: $mainColor;
                }
            }

            &__ul {
                position: absolute;
                z-index: 1;
                width: 85px;
                border: 1px solid #a8a3a3;
                background-color: white;
            }

            &__li {
                color: #6f6e6e;
                font-size: 14px;
                line-height: 26px;
                font-weight: 700;
                padding-left: 9px;

                &:hover {
                    color: $mainColor;
                    cursor: pointer;
                }
            }
        }


        &-by {
            height: 30px;
            border: 1px solid #ebebeb;
            display: flex;
            margin-left: 9px;
        }

        &-h4 {
            padding: 1px 7px 1px 12px;
            border-right: 1px solid #ebebeb;
            font-size: 14px;
            line-height: 26px;
            font-style: normal;
            color: #6f6e6e;
        }
    }

    &__price_margin {
        margin-bottom: 16px;
    }

    &__text-h3 {
        font-size: 14px;
        line-height: 26px;
        color: #6f6e6e;
    }

    &__text-h4 {
        font-size: 14px;
        line-height: 26px;
        font-weight: 400;
        color: #6f6e6e;
    }
}

.ul-show_wigth {
    width: 37px;
}

li {
    list-style-type: none;
}

.pages {
    &__link {
        color: #a8a3a3;
        font-size: 16px;
        line-height: 26px;
        text-decoration: none;
        font-weight: normal;
        cursor: pointer;

        &:hover {
            color: $mainColor;
        }
    }
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}