@import 'vars';


.shopping {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-bottom: 44px;

    &__title {
        display: flex;
        align-content: center;
        justify-content: center;
        font-size: 13px;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -0.015em;
        color: $mainTextColor;
        padding-bottom: 20px;
        border-bottom: 1px solid #eaeaea;

        &__det {
            justify-content: start;
        }
    }

    &__head {
        display: grid;
        grid-template-columns: 1fr 200px 170px 150px 120px 50px;
    }

    &__product {
        display: grid;
        grid-template-columns: 1fr 200px 170px 150px 120px 50px;
        ;
    }

    &__card {
        display: flex;
        padding-top: 22px;
        padding-bottom: 25px;
        border-bottom: 1px solid #eaeaea;

        &-tbl {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 14px;
            padding-bottom: 20px;
            border-bottom: 1px solid #eaeaea;
        }

        &__quantity {
            width: 54px;
            height: 30px;
            text-align: center;
            background-color: #ffffff;
            border: 1px solid #eaeaea;
            &::placeholder {
                padding-left: 14px;
            }
        }
    }
    &__img {
        width: 100px;
        height: 115px;
    }
}

.action {
    &-btns {
        display: flex;
        justify-content: space-between;
        margin-bottom: 63px;
    }

    &-btn {
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #4a4a4a;
        padding: 20px 38px 18px 39px;
        background-color: #ffffff;
        border: 1px solid #eaeaea;

        &:hover {
            color: #ffffff;
            background-color: #4a4a4a;
            border: 1px solid #fff;
            box-shadow: 0 0 10px 0 #4a4a4a;
            cursor: pointer;
        }
    }

}

.card {
    &__details {
        margin-left: 21px;
        padding-top: 11px;
    }

    &__title {
        font-size: 13px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: $mainTextColor;
        margin-bottom: 38px;
    }

    &__parametr {
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: #575757;
    }

    &__span {
        font-weight: 300;
        color: #6f6e6e;
    }
}


.filling-form {
    display: flex;
    margin-bottom: 79px;

    &__adress {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 35px;
        width: 355px;
        
    }

    &__text-h2 {
        margin-bottom: 22px;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #222222;
    }

    &__text-h3 {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #222222;
        margin-bottom: 22px;
    }

    &__text-p {
        margin-bottom: 24px;
    }

    &__text-p1 {
        font-size: 11px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-top: 40px;
        margin-bottom: 14px;
    }

    &__summary {
        font-size: 13px;
        line-height: 1.2;
        font-weight: 300;
        color: #b1b1b1;
        align-content: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 18px;
        padding-right: 12px;
        width: 325px;
        background-color: #ffffff;
        border: 1px solid #eaeaea;
        margin-bottom: 20px;
        height: 45px;

    }

    &__sum {
        position: relative;
        cursor: pointer;
    }

    &__ul {
        position: absolute;
        z-index: 1;
        width: 321px;
        border: 1px solid #a8a3a3;
        background-color: white;
        padding: 17px 17px 5px;
        top: 46px;

    }

    &__li {
        font-size: 13px;
        line-height: 1.2;
        font-weight: 300;
        color: #b1b1b1;
        padding-bottom: 10px;

        &:hover {
            color: $mainColor;
        }
    }

    &__discount {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 35px;
        width: 355px;
    }

    &__total {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 359px;
        height: 214px;
        background-color: #f5f3f3;
        padding-right: 43px;
    }

    &__box {
        width: 325px;
        height: 45px;
        background-color: #ffffff;
        border: 1px solid #eaeaea;
        margin-bottom: 20px;
        padding-left: 18px;
        padding-right: 18px;
    }

    &__line {
        width: 275px;
        height: 1px;
        background-color: #e2e2e2;
    }

    &__span {
        color: #f16d7f;
    }

    &__btn {
        padding: 12px 14px 12px 15px;
    }

    &__btn1 {
        width: 273px;
        height: 50px;
        background-color: #f16d7f;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
        border: none;

        &:hover {
            color: $mainColor;
            background-color: #fff;
            border: 1px solid $mainColor;
            box-shadow: 0 0 10px 0 $mainColor;
            cursor: pointer;
        }
    }
}

input::placeholder {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 300;
    color: #b1b1b1;
}

// .bg-image {
//     background-image: url(img/footer/serfer_lg.png);
//     background-size: cover;
// }