@import 'vars';
@import 'single';
@import 'checkout';
@import 'shopping';
@import 'product';

@keyframes scale-up {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.03);
        box-shadow: 0 0 10px 0 $mainTextColor;
    }
}

.scale-up {
    animation: scale-up cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato, sans-serif;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    width: 1140px;
    height: 100px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;

    &__logo_search {
        display: flex;
        align-items: center;
    }

    &__logo {
        display: flex;
        gap: 13px;
        align-items: center;
        margin-right: 37px;
    }

    &__logo-img {
        width: 59px;
        height: 51px;
    }

    &__text-h3 {
        display: flex;
        font-size: 27px;
        line-height: 32px;
        font-weight: 300;
        letter-spacing: 0.025em;
        color: $mainTextColor;
        align-items: baseline;
    }

    &__text-color {
        color: $mainColor;
        font-weight: 900;
    }

    &__search {
        display: flex;
        border-radius: 3px;
        border: 1px solid #e6e6e6;
        height: $searchHeight;

        &__btn {
            width: 87px;
            border: none;
            background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
        }

        &__form {
            display: flex;
        }

        &__input {
            font-weight: 300;
            color: #a4a4a4;
            font-size: 14px;
            line-height: 32px;
            font-weight: 300;
            letter-spacing: 0.025em;
            border: none;
            border-left: 1px solid #e6e6e6;
            border-right: 1px solid #e6e6e6;
            padding-left: 16px;
            width: 317px;
        }

        &__btn2 {
            height: $searchHeight;
            width: $searchHeight;
            font-size: 14px;
            line-height: 32px;
            font-weight: 400;
            letter-spacing: 0.025em;
            border: none;
            background-color: #fff;

            &:hover {
                color: $mainColor;
                background-color: $secondaryTextColor;
                cursor: pointer;
            }
        }
    }

    &__basketbutton {
        display: flex;
        align-items: flex-end;
        margin-right: 0px;
        position: relative;

        &_basket {
            width: 35px;
            height: 32px;
            margin-right: 26px;

            &:hover {
                fill: $mainColor;
                cursor: pointer;
            }
        }

        &__btn {
            border-color: $mainColor;
            color: #ffffff;
            background-color: $mainColor;
            font-size: 15px;
            font-weight: 400;
            letter-spacing: 0.025em;
            border-style: solid;
            padding: 2px 9px 2px 19px;
            font-size: 15px;
            line-height: 32px;
        }

        &__btn:hover {
            background-color: #ffffff;
            color: $mainColor;
        }

        &__btn:hover &_svg {
            fill: $mainColor;
        }
    }
}

.header__basket:hover .basketbutton-box {
    display: flex;
}

.header__basket {
    position: relative;

    & a {
        text-decoration: none;
    }
}

.angle-down {
    fill: #a4a4a4;
}

.angle-up {
    fill: #a4a4a4;
}

.basketbutton-box {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: #fff;
    width: 262px;
    border-radius: 5px;
    padding-top: 21px;
    padding-bottom: 20px;
    z-index: 2;
    border: 1px solid $mainColor;

}

.box {
    display: flex;
    flex-direction: row;

    &__link {
        display: block;
        margin-bottom: 16px;
    }

    &__product {
        display: flex;
        align-items: center;
        justify-content: space-between;
        

        &__name {
            text-align: center;
            font-size: 12px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            color: #807f7f;
        }
        &-basket {
            margin: 30px;
            text-align: center;
            font-size: 18px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            color: #807f7f;
        }
    }

    &__name__quantity {
        font-family: Lato;
        font-size: 12px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #f16d7f;
    }

    &__mini {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    &__img {
        width: 72px;
        height: 85px;
    }
    &__img2 {
        width: 15px;
        height: 15px;
        border: none;
    }

    &__total {
        display: flex;
        width: 90%;
        justify-content: space-between;
        margin-top: 2px;
        margin-bottom: 32px;
    }

    &__text-h2 {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #222222;
    }

    &__delete_btn {
        border: none;
        background-color: #fff;
        &:hover {
            opacity: 0.3;
        }
    }

    &__line {
        width: 229px;
        height: 1px;
        background-color: rgba(237, 237, 237, 0.74);
        margin-bottom: 16px;
    }

    &__link-btn {
        display: block;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: $mainColor;
        width: 225px;
        height: 50px;
        border: 1px solid $mainColor;
        align-content: center;
        text-align: center;
        margin-bottom: 11px;

        &:hover {
            color: #fff;
            background-color: $mainColor;
        }

        &_clr {
            color: #4a4a4a;
            border: 1px solid #eaeaea;

            &:hover {
                background-color: #4a4a4a;
                color: white;
            }
        }
    }
    &__product-cnt {
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 8px;
        background-color: $mainColor;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0px;
        right: 145px;
    }
    &__count {
        font-size: 11px;    
    }
}
.d-none {
    display: none;
}
.brend-logo {
    &__logo_search {
        display: flex;
        align-items: center;
    }

    &__link {
        display: block;
        text-decoration: none;
    }

    &__logo {
        display: flex;
        gap: 13px;
        align-items: center;
        margin-right: 37px;
    }

    &__logo-img {
        width: 59px;
        height: 51px;
    }

    &__text-h3 {
        display: flex;
        font-size: 27px;
        line-height: 32px;
        font-weight: 300;
        letter-spacing: 0.025em;
        color: $mainTextColor;
        align-items: baseline;
    }

    &__text-color {
        color: $mainColor;
        font-weight: 900;
    }
}

.brend_bgc {
    background-color: #e8e8e8;
    height: 614px;
    margin-bottom: 98px;
}

.menu {
    display: flex;
    justify-content: center;
    height: 51px;
    align-items: center;
    border-top: 1px solid #e8e8e8;

    &__box {
        display: flex;
        width: 680px;
        flex-direction: row;
        justify-content: space-between;

        &__btn {
            background: none;
            border: none;
            font-size: 14px;
            line-height: 26px;
            font-weight: 700;
            text-transform: uppercase;
            color: #222222;
            text-decoration: none;

            &:hover {
                color: $mainColor;
            }
        }
    }

    &__list {
        list-style-type: none;
        position: relative;
        padding-top: 15px;
        padding-bottom: 15px;

        &:hover .mega__item {
            display: block;
        }
    }
}

.mega {
    &__box {
        display: flex;
        flex-direction: row;
        position: absolute;
        border-radius: 5px;
        border: 1px solid #e8e8e8;
        top: 47px;
        left: -24px;

    }

    &__item {
        width: 235px;
        display: none;
        background-color: #fff;
        padding-bottom: 12px;
        padding-right: 25px;

        &:last-of-type {
            width: 170px;
        }
    }

    &__last {
        left: -400px;
    }

    &__title {
        font-size: 14px;
        line-height: 32px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: #232323;
        margin-top: 21px;
        margin-left: 25px;

        &::before {
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            background-color: #fff;
            position: absolute;
            transform: rotate(45deg);
            border-top: 1px solid #e8e8e8;
            border-left: 1px solid #e8e8e8;
            top: -9px;
            left: 32px;
        }

        &_last::before {
            top: -9px;
            left: 402px;
        }
    }

    &__line {
        margin-left: 25px;
        height: 1px;
        background-color: #e8e8e8;
        margin-bottom: 12px;
    }

    &__link {
        display: block;
        text-decoration: none;
        font-size: 14px;
        line-height: 28px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #646464;
        margin-left: 25px;

        &:hover {
            color: $mainColor;
        }
    }

    &__sale {
        background-image: url(./../../public/img/header/header__man_sale.jpg);
        width: 255px;
        height: 118px;
        background-size: cover;
        background-position: right;
        margin-top: 12px;
        display: flex;
        align-items: end;
        justify-content: end;
        box-sizing: border-box;
        text-decoration: none;

        &:hover {
            animation: scale-up 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s both;
        }

        &__text {
            font-size: 22px;
            line-height: 28px;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 0.025em;
            color: $mainColor;
            width: 71px;
            padding-right: 10px;
        }
    }

}

.mini {
    &__menu {
        align-content: center;
        justify-content: center;
        background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
        cursor: pointer;

        &:hover {
            background-image: none;
        }

        &:hover .angle-down {
            fill: $mainColor;
        }

        &:hover .mini__search__btn {
            color: $mainColor;
        }
    }

    &__search {
        position: relative;
    }

    &__search__btn {
        width: 87px;
        border: none;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        color: #222222;

    }

    &__box {
        display: flex;
        flex-direction: column;
        position: absolute;
        border-radius: 5px;
        border: 1px solid #e8e8e8;
        top: 47px;
        left: -24px;
        z-index: 1;
    }

    &__item {
        width: 235px;
        display: block;
        background-color: #fff;
        padding-bottom: 12px;
    }

    &__last {
        left: -400px;
    }

    &__title {
        font-size: 14px;
        line-height: 32px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: #232323;
        margin-top: 21px;
        margin-left: 25px;

        &::before {
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            background-color: #fff;
            position: absolute;
            transform: rotate(45deg);
            border-top: 1px solid #e8e8e8;
            border-left: 1px solid #e8e8e8;
            top: -9px;
            left: 59px;
        }

        &_last::before {
            top: -9px;
            left: 402px;
        }
    }

    &__line {
        margin-left: 25px;
        height: 1px;
        background-color: #e8e8e8;
        margin-bottom: 12px;
    }

    &__link {
        display: block;
        text-decoration: none;
        font-size: 14px;
        line-height: 28px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #646464;
        margin-left: 25px;

        &:hover {
            color: $mainColor;
        }
    }
}

.brend {
    background-image: url(./../../public/img/header/top_brend_man.jpg);
    background-position: bottom;
    height: 614px;


    &__fig {
        border-left: 12px solid $mainColor;
        padding-left: 16px;
        margin-top: 224px;
        margin-left: 230px;
    }

    &__text-h2 {
        color: $mainTextColor;
        font-size: 60px;
        line-height: 1.2;
        font-weight: 900;
        letter-spacing: 0.025em;
    }

    &__text-h3 {
        color: $mainTextColor;
        font-size: 40px;
    }

    &__text-main_color {
        color: $mainColor;
    }
}

.container-low {
    width: 1140px;
    margin: 0px auto;
}

.content {
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 20px;

    &__card {
        width: 560px;
        height: 542px;
        text-decoration: none;

        &:hover {
            animation: scale-up 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s both;
        }
    }

    &__card-small {
        width: 560px;
        height: 261px;
        text-decoration: none;

        &:hover {
            animation: scale-up 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s both;
        }
    }


    &__block-1 {
        background-image: url(./../../public/img/middle/middle_content_man_suit.png);
        background-size: cover;
    }


    &__block-2 {
        background-image: url(./../../public/img/middle/middle_content_girl_blond.jpg);
        background-size: cover;
    }


    &__block-3 {
        background-image: url(./../../public/img/middle/middle_content_wallet.jpg);
        background-size: cover;
    }

    &__block-4 {
        background-image: url(./../../public/img/middle/middle_content_little_boy.jpg);
        background-size: cover;
        position: absolute;
        top: 281px;
        left: 580px;
    }

    &__text-h3 {
        display: flex;
        flex-direction: column;
        background-color: $mainBackGroundColor;
        padding: 16px 0px 16px 20px;
        margin-top: 26px;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: $mainTextColor;

        &__width1 {
            width: 175px;
        }

        &__width2 {
            width: 150px;
        }

        &__width3 {
            width: 240px;
        }

        &__width4 {
            width: 180px;
        }
    }

    &__text-h2 {
        font-size: 30px;
        color: $mainColor;
    }

}
@supports (display: grid) {
    .content {
        &_grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);    
        }
    
        &__grid-1 {
            grid-area: 1 / 1 / 3 / 2;
        }
    
        &__grid-2 {
            grid-area: 1 / 2 / 2 / 3;
        }
    
        &__grid-3 {
            grid-area: 3 / 1 / 4 / 2;
        }
    
        &__grid-4 {
            grid-area: 2 / 2 / 4 / 3;
            position: static;
        }
    }
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;

    &__text-h2 {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: $mainTextColor;
        margin-bottom: 16px;
    }

    &__text-p {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #9f9f9f;
    }
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 58px;

    &__block {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        position: relative;
        &-text {
            display: flex;
            justify-content: space-between;
        }
        
        &:hover {
            box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
        }

        &:hover .cards__img {
            filter: brightness(30%);
        }

        &:hover .add {
            display: flex;
        }
    }

    &__link {
        display: block;
        text-decoration: none;
    }

    &__img {
        width: 261px;
        height: 280px;
    }

    &__text {
        display: block;
        padding: 20px 15px;
    }

    &__text-discription {
        font-size: 13px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: $mainTextColor;
        margin-bottom: 17px;
    }

    &__text-price {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: $mainColor;
    }
    &__text-sizes {
        font-weight: 700;
    }
}

.add {
    display: none;
    padding: 10px;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 3px;
    text-decoration: none;
    align-items: center;
    pointer-events: all;
    cursor: pointer;

    &__left-btm {
        padding: 13px 16px;
    }

    &__right-btm {
        padding: 12px 19px;
    }

    &-box {
        position: absolute;
        top: 98px;
        display: flex;
        justify-content: center;
        width: 100%;
        pointer-events: none;

        &__left-btm {
            top: 146px;
            left: -31px;
        }

        &__right-btm {
            top: 146px;
            left: 32px;
        }
    }

    &-txt {
        margin-left: 10px;
    }

    &:hover {
        box-shadow: 0 0 10px 0 #fff;
    }
}

.middle {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__btn {
        border-color: $mainColor;
        color: #ffffff;
        background-color: $mainColor;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 0.025em;
        border-style: solid;
        font-size: 15px;
        line-height: 32px;
        height: 48px;
        width: 212px;
        cursor: pointer;
    }

    &__btn:hover {
        background-color: #ffffff;
        color: $mainColor;
    }

    &__form {
        display: flex;
        justify-content: center;
        margin-bottom: 113px;
    }

    &__offer {
        display: flex;
        flex-direction: row;
        margin-bottom: 97px;
    }

    &__img {
        background-image: url(./../../public/img/middle/girl_snow.png);
        background-size: cover;
        width: 767px;
        height: 529px;

    }

    &__sale {
        display: flex;
        flex-direction: column;
        margin-top: 146px;
        margin-left: 39px;

        &-h2 {
            font-size: 53.7px;
            line-height: 1.2;
            font-weight: 700;
            letter-spacing: 0.025em;
            color: $mainBackGroundColor;
        }

        &-h2_clr {
            color: $mainColor;
        }

        &-h3 {
            font-size: 32.2px;
            line-height: 1.2;
            font-weight: 700;
            letter-spacing: 0.025em;
            color: $mainBackGroundColor;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        width: 373px;
        background-color: $mainTextColor;
    }

    &__discription {
        display: flex;
        flex-direction: row;
        margin-top: 40px;

        &__img1 {
            width: 45px;
            height: 32px;
            padding: 0 31px;
        }

        &__img2 {
            width: 40px;
            height: 40px;
            padding: 0 32px;
        }

        &__img3 {
            width: 47px;
            height: 35px;
            padding: 0 29px;
        }
    }

    &__text {
        margin-top: 8px;
        margin-right: 43px;

        &-h2 {
            font-size: 20px;
            line-height: 1.2;
            font-weight: 700;
            letter-spacing: 0.025em;
            color: $secondaryTextColor;
            margin-bottom: 17px;
        }

        &-p {
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
            letter-spacing: 0.025em;
            color: $secondaryTextColor;
        }
    }

    &__img-block_size {
        width: 111px;
    }
}

.bg-image {
    background-image: url(./../../public/img/footer/serfer_lg.png);
    background-size: cover;
}

.footer {
    display: flex;
    flex-direction: row;
    width: 100%;

    &__subscribe {
        height: 438px;
        display: flex;
    }

    &__girl {
        display: flex;
        flex-direction: column;
        margin-right: 148px;
        color: #FBFBFB;
        width: 386px;
        padding-top: 123px;
    }

    &__img {
        width: 83px;
        height: 83px;
        margin-top: 111px;
        margin-right: 28px;
    }

    &__text-h3 {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        font-style: italic;
        letter-spacing: 0.025em;
        color: $mainTextColor;
        margin-bottom: 19px;
    }

    &__block {
        display: flex;
        flex-direction: column;

    }

    &__box {
        height: 79px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__text-h2 {
        font-size: 16px;
        line-height: 42px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: $footerColor;
    }

    &__logo-box {
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        gap: 8px;
    }

    &__logo {
        display: flex;
        width: 32px;
        height: 32px;
        background-color: white;
        text-align: center;
        flex-direction: column;
        justify-content: center;

        &:hover {
            background-color: #F16D7F;
        }

        &:hover .icon {
            fill: white;
        }
    }
}

.block {
    &__text-h4 {
        font-size: 16px;
        line-height: 26px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: $mainColor;
    }

    &__text-h5 {
        font-size: 12px;
        line-height: 14px;
        font-weight: 300;
        color: $mainTextColor;
        margin-bottom: 41px;
    }

    &__lines {
        display: flex;
    }

    &__line1 {
        width: 38px;
        height: 4px;
        background-color: #d6d6d6;
        margin-right: 13px;
    }

    &__line2 {
        width: 38px;
        height: 4px;
        background-color: $mainColor;
        margin-right: 13px;
    }
}

.subscribe {

    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 32px;
        gap: 4px;
        margin-top: 148px;
    }

    &__text-h3 {
        color: $mainTextColor;
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.025em;
    }

    &__text-h4 {
        color: $mainTextColor;
        font-size: 14px;
        line-height: 24px;
        text-transform: none;
    }

    &__form {
        display: flex;
    }

    &__input {
        height: 46px;
        background-color: #E1E1E1;
        border: none;
        border-top-left-radius: 24px;
        border-bottom-left-radius: 24px;
        width: 282px;
        text-align: center;
        font-size: 14px;
        line-height: 54px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: $mainTextColor;

        &:hover {
            background-color: #fff;
        }
    }

    &__btn {
        height: 46px;
        background-color: #F16D7F;
        border: none;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
        width: 104px;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        color: #fff;
    }

    &__btn:hover {
        background-color: #ffffff;
        color: $mainColor;
        border: 1px solid $mainColor;
    }
}

.brend-info {
    display: flex;
    height: 458px;

    &__block {
        display: flex;
        flex-direction: column;
        padding-top: 109px;
        width: 427px;
    }

    &__company {
        font-size: 18px;
        line-height: 26px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: $mainColor;
        margin-left: 64px;
        margin-top: 123px;
    }

    &__information {
        font-size: 18px;
        line-height: 26px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: $mainColor;
        margin-left: 129px;
        margin-top: 123px;
    }

    &__category {
        font-size: 18px;
        line-height: 26px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: $mainColor;
        margin-left: 80px;
        margin-top: 123px;
    }

    &__h2 {
        font-size: 18px;
        line-height: 26px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: $mainColor;
        margin-bottom: 34px;
    }

    &__p1 {
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        letter-spacing: 0.025em;
        color: $buttomColor;
        margin-top: 29px;
    }

    &__p2 {
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        letter-spacing: 0.025em;
        color: $buttomColor;
        margin-top: 29px;
    }

    &__link {
        display: block;
        font-size: 16px;
        line-height: 42px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: $buttomColor;
        text-decoration: none;

        &:hover {
            color: $mainColor;
            transform: scale(1.1);
        }
    }
}

.bgc-footer {
    background-color: #e6e6e6;
}